<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

<script>
    $(document).ready(() => {
        let sock = io.connect('http://{{ hostname }}:{{ port }}');

        sock.on('message', (msg) => {
            $('#info').append('<li>' + msg + '</li>');
        });

        sock.on('{{ sub_to_feed_id }}', (payload) => {
            $('#info').append('<li>' + payload + '</li>');
        });
    });
</script>


<ul id="info">
    <li>Source: {{ sub_to_feed_id }}</li>


</ul>

<a href="dashboard">Go to Dashboard</a>


</body>
</html>